<%= form_with(model: dife, local: true) do |form| %>
  <% if dife.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dife.errors.count, "error") %> prohibited this dife from being saved:</h2>

      <ul>
        <% dife.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :timeSecounds %>
    <%= form.number_field :timeSecounds %>
  </div>

  <div class="field">
    <%= form.label :maxDepth %>
    <%= form.text_field :maxDepth %>
  </div>

  <div class="field">
    <%= form.label :lat %>
    <%= form.text_field :lat %>
  </div>

  <div class="field">
    <%= form.label :lon %>
    <%= form.text_field :lon %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
