<p id="notice"><%= notice %></p>

<h1>Dives</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Timesecounds</th>
      <th>Maxdepth</th>
      <th>Lat</th>
      <th>Lon</th>
      <th>Date</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dives.each do |dife| %>
      <tr>
        <td><%= dife.location %></td>
        <td><%= dife.timeSecounds %></td>
        <td><%= dife.maxDepth %></td>
        <td><%= dife.lat %></td>
        <td><%= dife.lon %></td>
        <td><%= dife.date %></td>
        <td><%= dife.notes %></td>
        <td><%= link_to 'Show', dife %></td>
        <td><%= link_to 'Edit', edit_dife_path(dife) %></td>
        <td><%= link_to 'Destroy', dife, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dife', new_dife_path %>
