<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @dife.location %>
</p>

<p>
  <strong>Timesecounds:</strong>
  <%= @dife.timeSecounds %>
</p>

<p>
  <strong>Maxdepth:</strong>
  <%= @dife.maxDepth %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @dife.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @dife.lon %>
</p>

<p>
  <strong>Date:</strong>
  <%= @dife.date %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @dife.notes %>
</p>

<%= link_to 'Edit', edit_dife_path(@dife) %> |
<%= link_to 'Back', dives_path %>
